In [57]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\arifurk\myenv\lib\site-packages (2.9.3)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [58]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\arifurk\myenv\lib\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\arifurk\myenv\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [59]:
pip install pandas

Requirement already satisfied: pandas in c:\users\arifurk\myenv\lib\site-packages (1.4.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\arifurk\myenv\lib\site-packages (from pandas) (1.23.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\arifurk\myenv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\arifurk\myenv\lib\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: six>=1.5 in c:\users\arifurk\myenv\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [60]:
import psycopg2
import pandas as pd
import psycopg2.extras

In [61]:
patient_info=pd.read_csv("patient_info_primary.csv")

In [62]:
patient_info

,Unnamed: 0,APPOINT_NO,AGE_YY,GENDER,ADDRESS,DEPARTMENT_NO
0,0,1220000785916,26.0,M,"KASHIMPUR, NAWABGONJ, DHAKA",1019
1,1,1220000785919,65.0,M,"MURAD NAGAR , CUMILLA",4000309
2,4,1220000785932,59.0,M,"2/4/2,SOUTH KALLAYANPUR,DHAKA",4000321
3,6,1220000785940,81.0,M,"H-62/2, KALLAYANPUR MAIN ROAD, MIRPUR, DHAKA",4000321
4,9,1220000785958,40.0,M,"19/1,SHAALIBAG,MIRPUR,DHAKA",4000321
...,...,...,...,...,...,...
22066,30674,1220000807722,64.0,F,"151/51 MUKTI HOUSING MIRPUR ,DHAKA",4000328
22067,30675,1220000807743,51.0,M,"46 SAYATORU,LAMA BAZAR,SYLHET",1028
22068,30676,1220000807713,61.0,F,"RD-12A ,H-83 APT-C3 DHAMONDI ,DHAKA",4000309
22069,30677,1220000807714,52.0,F,ADARSHA CHASHARA-N.GONJ,4000008
22070,30679,1220000807734,48.0,F,"9/A SHELTAC R#1 SHYAMOLI, DHAKA.",1019

In [63]:
department_info=pd.read_csv('department.csv')

In [64]:
department_info

    DEPARTMENT_NO                  DEPARTMENT_NAME
0         4000288      Plastic & Aesthetic Surgery
1         4000308  Dental and Maxillofacial Center
2         2000004                  Cardiac Surgery
3            1158                      Orthopedics
4         4000361                     Rheumatology
5         4000381                Surgical Oncology
6            1176               Pediatrics Surgery
7            1019          ENT & Head-Neck Surgery
8            1068                          Urology
9         4000327                 Vascular Surgery
10        4000357               Colorectal Surgery
11        4000309                      Dermatology
12        4000328             Respiratory Medicine
13           1066                             GHPD
14        4000255                       Nephrology
15           1028                      Haematology
16           1162                       Cardiology
17        4000317       Obstetrics and Gynaecology
18        4000250                Internal Medicine
19           1010                    Endocrinology
20        4000321         Pediatrics & Neonatology
21        4000290                  General Surgery
22        4000252                         Oncology
23        4000008                        Neurology

In [65]:
import psycopg2.extras

In [66]:
doctor_info=pd.read_csv("doctos_info_.csv")

In [67]:
doctor_info

        DOCTOR_NO                  DEPARTMENT_NAME
0   1200000001736                 Vascular Surgery
1   1200000001672  Dental and Maxillofacial Center
2             131      Plastic & Aesthetic Surgery
3             117       Obstetrics and Gynaecology
4             129       Obstetrics and Gynaecology
5             124          ENT & Head-Neck Surgery
6   1200000001671  Dental and Maxillofacial Center
7   1200000000717          ENT & Head-Neck Surgery
8             233                  Cardiac Surgery
9            2361                          Urology
10            104       Obstetrics and Gynaecology
11            116                Internal Medicine
12           1772                      Orthopedics
13           2683                     Rheumatology
14            100               Colorectal Surgery
15            205       Obstetrics and Gynaecology
16            141                       Cardiology
17            113       Obstetrics and Gynaecology
18           3387                Surgical Oncology
19            146         Pediatrics & Neonatology
20            250                          Urology
21            156               Pediatrics Surgery
22            187         Pediatrics & Neonatology
23            185         Pediatrics & Neonatology
24            126                       Cardiology
25            121          ENT & Head-Neck Surgery
26           1140                          Urology
27  1200000001094         Pediatrics & Neonatology
28            286                       Cardiology
29            127       Obstetrics and Gynaecology
30            179                         Oncology
31            151                      Dermatology
32            105                 Vascular Surgery
33            172             Respiratory Medicine
34            237               Colorectal Surgery
35            246                             GHPD
36            125                      Dermatology
37            165                       Nephrology
38            132             Respiratory Medicine
39            230                             GHPD
40            240                       Nephrology
41            139       Obstetrics and Gynaecology
42            174                      Haematology
43            135                       Cardiology
44            128       Obstetrics and Gynaecology
45            227                Internal Medicine
46            111                Internal Medicine
47            245                         Oncology
48            153                        Neurology
49  1200000000695                    Endocrinology
50            137         Pediatrics & Neonatology
51            228                  General Surgery
52            101                         Oncology
53            112                        Neurology
54            766                        Neurology

In [68]:
bill_info=pd.read_excel("bill_info.xlsx")

In [69]:
bill_info

,APPOINT_NO,DOCTOR_NO,DEPARTMENT_NO,CONSULT_FEE,DAY,MONTH,DATE,YEAR
0,1220000785916,2361,1019,1500,Saturday,January,8,2022
1,1220000785919,766,4000309,1500,Thursday,January,6,2022
2,1220000785925,127,4000252,1500,Wednesday,January,5,2022
3,1220000785930,126,4000309,1500,Wednesday,January,5,2022
4,1220000785932,237,4000321,1500,Wednesday,January,5,2022
...,...,...,...,...,...,...,...,...
30675,1220000807743,101,1028,600,Monday,March,21,2022
30676,1220000807713,101,4000309,1200,Thursday,March,31,2022
30677,1220000807714,101,4000008,1200,Wednesday,March,30,2022
30678,1220000807725,101,1162,800,Sunday,March,27,2022
30679,1220000807734,101,1019,600,Wednesday,March,23,2022

In [70]:
bill_info.dtypes

APPOINT_NO        int64
DOCTOR_NO         int64
DEPARTMENT_NO     int64
CONSULT_FEE       int64
DAY              object
MONTH            object
DATE              int64
YEAR              int64
dtype: object

In [41]:
class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="hospital",
                                           user = "postgres",
                                           password = "system",
                                           host = "localhost",
                                           port = "5432")

    def getConnection(self):
        print("Connection to DB established!")
        return self.connection

In [42]:
con = PostgresConnection().getConnection()

Connection to DB established!

In [31]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO hospitals.patient_info(pik,APPOINT_NO,AGE_YY,GENDER,ADDRESS,DEPARTMENT_NO)VALUES (%s, %s, %s, %s, %s ,%s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, patient_info.values)
con.commit()
cur.close()

Connection to DB established!

In [17]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO hospitals.doctor_info(DOCTOR_NO,DEPARTMENT_NAME)VALUES (%s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, doctor_info.values)
con.commit()
cur.close()

Connection to DB established!

UniqueViolation: duplicate key value violates unique constraint "pk_2"
DETAIL:  Key (doctor_no)=(1200000001736) already exists.

In [18]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO hospitals.department_info(DEPARTMENT_NO,DEPARTMENT_NAME)VALUES (%s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, department_info.values)
con.commit()
cur.close()

Connection to DB established!

UniqueViolation: duplicate key value violates unique constraint "pk_3"
DETAIL:  Key (department_no)=(4000288) already exists.

In [75]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO hospitals.bill_info(APPOINT_NO,DEPARTMENT_NO,DOCTOR_NO,CONSULT_FEE,DAY,MONTH,DATE,YEAR)VALUES (%s, %s, %s, %s, %s,%s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, bill_info.values)
con.commit()
cur.close()

Connection to DB established!