In [2]:
import pandas as pd

In [3]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\arifurk\myenv\lib\site-packages (3.0.10)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: et-xmlfile in c:\users\arifurk\myenv\lib\site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ---------------------------------------- 96.5/96.5 kB 1.4 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
df=pd.read_excel('opd_appointment.xls')

In [9]:
df

,APPOINT_NO,APPOINT_ID,APPOINT_DATE,DOCTOR_NO,SHIFTDTL_NO,CONSULTATION_TYPE,SLOT_SL,SLOT_NO,START_TIME,END_TIME,...,ROOM_DESC,ROOM_NO,ORDER_SL,REF_CONSULTATION_ID,REFERRED_TO_DOCTOR,ABSENCE_FLAG,AGE,CONSULT_IN_BY,CONSULT_OUT_BY,PAT_FLAG
0,1220000785916,12201785916,2022-01-08,2361,2,1,8,122010001550825,2022-01-08 16:29:00,2022-01-08 16:32:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1180.0,NaN
1,1220000785919,12201785919,2022-01-06,766,2,1,5,121120001545262,2022-01-06 17:37:00,2022-01-06 17:45:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,912.0,NaN
2,1220000785925,12201785925,2022-01-05,127,2,2,5,121120001537259,2022-01-05 17:37:00,2022-01-05 17:45:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168.0,NaN
3,1220000785930,12201785930,2022-01-05,126,2,1,20,121120001543132,2022-01-05 18:33:00,2022-01-05 18:40:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1220000785932,12201785932,2022-01-05,237,2,1,3,122010001555015,2022-01-05 18:50:00,2022-01-05 19:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30675,1220000807743,12201807743,2022-03-21,101,2,1,2,122010001599026,2022-03-21 17:13:00,2022-03-21 17:24:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,187.0,NaN
30676,1220000807713,12201807713,2022-03-31,101,2,1,2,122010001598826,2022-03-31 17:13:00,2022-03-31 17:24:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,187.0,NaN
30677,1220000807714,12201807714,2022-03-30,101,2,1,1,122010001598840,2022-03-30 17:00:00,2022-03-30 17:12:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,187.0,NaN
30678,1220000807725,12201807725,2022-03-27,101,2,1,2,122010001598911,2022-03-27 17:13:00,2022-03-27 17:24:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,187.0,NaN
30679,1220000807734,12201807734,2022-03-23,101,2,1,1,122010001598980,2022-03-22 17:00:00,2022-03-22 17:10:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,187.0,NaN

In [6]:
df=df.drop('APPOINT_NO','SHIFTDTL_NO','CONSULTATION_TYPE''SLOT_SL''SLOT_NO''START_TIME'	'END_TIME''ROOM_DESC''ROOM_NO''ORDER_SL	REF_CONSULTATION_ID	REFERRED_TO_DOCTOR	ABSENCE_FLAG	AGE	CONSULT_IN_BY	CONSULT_OUT_BY	PAT_FLAG)